:root {
    --text: #080707;
    --background: #f9f8f6;
    --primary: #ffa442;
    --primaryDark: #e98b27;
    --secondary: #e7d1b9;
  }

body {
    font-family: Arial, sans-serif;
    background-color: #5c9676;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 800px;
    background-color: var(--background);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    text-align: center;
    color: #333;
}

.header-controls {
    min-width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.header-controls {
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--background);
    backdrop-filter: blur(10px); /* Blurs the content behind the element */
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it stays above other content */
}

.header-controls > * {
    margin-right: 10px; /* Space between elements */
}

#editor {
    width: 100%;

    font-size: 16px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    background-color: var(--background);
    white-space: pre-wrap; /* Preserve whitespace for proper block separation */
}

/* Styling for the block */
.block {
    display: inline-flex; /* Ensure block fits content */
    align-items: center;
    background-color: var(--background);
    padding: 4px 4px; /* Reduced padding */
    border-radius: 4px;
    margin: 3px 0px;
    font-size: 16px; /* Ensure text fits well */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

/* Styling for the number input */
.number {
    field-sizing: content;
    min-width: 10px; /* Optional: maximum width */
    padding: 4px; /* Reduced padding */
    border: none;
    border-radius: 4px;
    margin-right: 4px; /* Reduced margin */
    background-color: var(--secondary); /* Background color for distinction */
    font-size: 16px; /* Ensure text fits well */
    text-align: center;

}
.number:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--primary);
}

.autocomplete {
    
    position: relative;
    display: inline-flex; /* Ensure block fits content */
    

  }
  
  .inputField { /* Changed from #inputField to .inputField */
    field-sizing: content;
    padding: 4px; /* Reduced padding */
    border: none;
    border-radius: 4px;
    margin-right: 4px; /* Reduced margin */
    font-size: 16px; /* Ensure text fits well */
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 4px;
    background-color: var(--secondary); /* Background color for distinction */


  }

  .inputField:focus{
    outline: none;
    box-shadow: 0 0 0 2px var(--primary);
  }
  
  .suggestions {
    position: absolute;
    top: 100%;
    max-height: 300px;
    left: 0;
    border: 1px solid #ccc;
    background-color: var(--background);
    z-index: 1000;
    display: none;
    box-sizing: border-box;
    border-radius: 0 0 4px 4px;
    overflow-y: scroll;
    field-sizing: content;

  }
  
  .suggestions div {
    padding: 8px;
    cursor: pointer;
    overflow: visible;
    white-space: nowrap;


  }
  
  .suggestions div:hover {
    background-color: #f0f0f0;
  }
  
  

/* Styling for the button */
button {
    display: block;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: var(--primary);
    color: white;
    outline: none;
    flex-grow: 1;
}

button:hover {
    background-color: var(--primaryDark);
}




/* Styling for the number input next to the button */
.number-input {
    field-sizing: content;
    min-width: 5px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}
.number-input:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--primary);
}

.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Remove spinner in WebKit browsers */
    margin: 0;
}

.number::-webkit-inner-spin-button,
.number::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Remove spinner in WebKit browsers */
    margin: 0;
}

#multiplierContainerWrapper {
    display: flex;
    align-items: center; /* Align items vertically centered */

}


.toggle-container {
    width: 45px;
    height: 45px;
    position: relative;
    display: inline-block; /* Ensure the container fits the icon size */
}




.toggle-checkbox {
    display: none;
    
}

.toggle-label {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--secondary);

}

.toggle-checkbox:checked + .toggle-label {
    background-color: var(--primary);
}

/* Ensure hover effect is applied even if the checkbox is checked */
.toggle-checkbox:checked + .toggle-label:hover {
    background-color: var(--primaryDark);
}

/* Ensure hover effect is applied even if the checkbox is checked */
.toggle-label:hover {
    background-color: var(--primaryDark);
}

.toggle-icon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
}

.unlock-icon {
    opacity: 0;
}

.lock-icon {
    opacity: 0;
}

.toggle-checkbox:checked + .toggle-label .lock-icon {
    opacity: 1;
}

.toggle-checkbox:not(:checked) + .toggle-label .unlock-icon {
    opacity: 1;
}

